# dependencies
/node_modules

# next.js
/.next
/out
.open-next

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*

# sqlite (local prisma migrate dev)
/prisma/dev.db
/prisma/dev.db-journal

# macOS
.DS_Store
